.header{
    .header__box{
        display: flex;
        grid-template-columns: 250px 1fr;
        align-items: center;
        border-bottom: 2px solid #000;
    }
    .header__item{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

.headerNav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .headerNav__item{
        color: var(--colorFontPrimary);
        border-left: 2px solid var(--colorFontPrimary);
        padding: 0 1rem;
        text-decoration: underline;
        font-weight: 500;
        &:first-child{
            border-left: 0;
            padding-left: 0;
            text-decoration: none;
            color: var(--colorFontSecondary);
        }
    }
}

.headerSubitens{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 1.5rem;    
    .headerSubitens__item a{
        text-decoration: none;
        font-weight: 500;
        color: var(--colorFontPrimary);
    }
}

.search{
    display: flex;
    justify-content: space-between;
    grid-gap: 1rem;
    height: 2rem;
    input{
        padding: .6rem;
        min-width: 23rem;
    }
    .search__button{
        padding: 0 .5rem;
        transition: all 100ms linear;
        &:hover{
            background-color: var(--colorPrimary);
            border-color: var(--colorPrimary);
            color: var(--colorPrimary--contrast);
        }
    }
}