:root {
  /* Colors */
  --colorPrimary: #FF0000;
  --colorPrimary--contrast: #ffff;
  --colorSecondary: #aaa;

  --colorFontPrimary: #000;
  --colorFontSecondary: #aaa;

  /* Font Size */
  --fontSize: 14px;

  --fontSizeTitle: 22px;
  --fontSizeSubtitle: 15px;

  --fontSizeCard: 1rem;
  --fontSizeCard--small: .8rem;


  /* Components */
  --colorScrollBar: #959595;
}
